---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';

const allPosts = await Astro.glob("../content/*.md");
---

<Layout title="Acerca de MarcosSarLo">
	<main>		
		<Header title="Acerca de MarcosSarLo" />		
		<Hero />
		<!-- Enlaces de Navegación -->
		<a href="/">Inicio</a> | <a href="/about/">Sobre mi</a> | <a href="/blog/">Blog</a>
		<hr><br>

		<h1>Sobre mi</h1>
		<h2>... ¡y mi nuevo sitio Astro!</h2>

		<p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>

		<p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
		<!--
		<ul role="list" class="link-card-grid">
			{
				allPosts.map((item) => (
					<Card
						title={item?.frontmatter.title}
						time={item?.frontmatter.pubDate}
						tags={item?.frontmatter.tags}
					/>
				))
			}
		</ul>
		-->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	h1 {
		font-size:xx-large;
	}
	h2 {
		font-size:x-large
	}
</style>
