---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>		
		<Header title="MarcosSarLo" />
		<Hero />
		
		<ul role="list" class="link-card-grid">
			<Card
				time="02 de agosto 2024"
				title="Documentation"
				tags="Tailwind ❤️❤️"
			/>
			<Card
				time="14 de agosto 2024"
				title="Integrations"
				tags="Bootstrap ❤️❤️❤️"
			/>
			<Card
				time="28 de julio 2024"
				title="Themes"
				tags="JS ❤️"
			/>
			<Card
				time="31 de agosto 2024"
				title="Community"
				tags="TaypeScript ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
		
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
